In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [2]:
data=pd.read_csv('Add_sales_data_2018.csv')

In [3]:
data.head()

,Date,Add1(in Thousands),Add2(in Thousands),Add3(in Thousands),Add4(in Thousands),Add5(in Thousands),Profit(in Thousands)
0,2018-10-08,208.00,222.25,206.85,216.00,215.15,4093.065
1,2018-10-05,217.00,218.60,205.90,210.25,209.20,4042.448
2,2018-10-04,223.50,227.80,216.15,217.25,218.20,4213.819
3,2018-10-03,230.00,237.50,225.75,226.45,227.60,4391.665
4,2018-10-01,234.55,234.60,221.05,230.30,230.90,4350.683

# check whether there is any relationship between the amount spent for advertising through five different companies and profit generated.

In [4]:
data.corr()

,Add1(in Thousands),Add2(in Thousands),Add3(in Thousands),Add4(in Thousands),Add5(in Thousands),Profit(in Thousands)
Add1(in Thousands),1.000000,0.990976,0.986274,0.976365,0.976716,0.991975
Add2(in Thousands),0.990976,1.000000,0.987990,0.989921,0.990285,0.999145
Add3(in Thousands),0.986274,0.987990,1.000000,0.991343,0.991908,0.993389
Add4(in Thousands),0.976365,0.989921,0.991343,1.000000,0.999699,0.993346
Add5(in Thousands),0.976716,0.990285,0.991908,0.999699,1.000000,0.993710
Profit(in Thousands),0.991975,0.999145,0.993389,0.993346,0.993710,1.000000

The amount spend to the 5 companies for advertising has very high correlation with the profit

# Build a regression model to predict the profit from the given data

In [5]:
data1=data.drop(['Date'],axis=1)

In [6]:
data1.head()

,Add1(in Thousands),Add2(in Thousands),Add3(in Thousands),Add4(in Thousands),Add5(in Thousands),Profit(in Thousands)
0,208.00,222.25,206.85,216.00,215.15,4093.065
1,217.00,218.60,205.90,210.25,209.20,4042.448
2,223.50,227.80,216.15,217.25,218.20,4213.819
3,230.00,237.50,225.75,226.45,227.60,4391.665
4,234.55,234.60,221.05,230.30,230.90,4350.683

In [7]:
y=data1['Profit(in Thousands)']

In [8]:
X=data1.drop(['Profit(in Thousands)'],axis=1)

In [9]:
X.shape

(205, 5)

In [10]:
y.shape

(205,)

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=7)

In [13]:
from sklearn import linear_model

In [14]:
lr=linear_model.LinearRegression()

In [15]:
model=lr.fit(X_train,y_train)

In [16]:
pred=model.predict(X_test)

In [17]:
from sklearn.metrics import mean_squared_error

In [18]:
print('Mean Squared Error is:',mean_squared_error(y_test,pred))

Mean Squared Error is: 1.7338978224669235e-24

Here we can see that the mean squared error is low. So we can say that the model is almost accurate

# Predict the profit generated by the company, if they wish to spend the following amount for advertisement.

In [22]:
spend_money=[[290,312,309,298,320]]

In [24]:
new_profit=model.predict(spend_money)

In [25]:
new_profit

array([5820.06])

The predicted Profit if the textile company spend these amount of money for advertisement is 5820060 rupees.