In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [6]:
data=pd.read_csv('StudentsPerformance.csv')

In [3]:
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100

# 1. Find out how many males and females participated in the test.

In [4]:
data['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

# 2. What do you think about the students' parental level of education?

In [6]:
data['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

Most of the Students have educational level of some college and least have a Master's Degree.

# 3. Who scores the most on average for math, reading and writing based on

# ● Gender

In [9]:
data2=data.groupby('gender')['math score'].mean()

In [10]:
data2

gender
female    63.376448
male      68.821577
Name: math score, dtype: float64

Females score more on average for math

In [12]:
data3=data.groupby('gender')['reading score'].mean()

In [13]:
data3

gender
female    72.590734
male      65.545643
Name: reading score, dtype: float64

females score more on average for reading

In [14]:
data4=data.groupby('gender')['writing score'].mean()

In [15]:
data4

gender
female    72.467181
male      63.446058
Name: writing score, dtype: float64

Females score more on average for writing.
Females score more on average overall

# ● Test preparation course

In [16]:
prep=data.groupby('test preparation course')['math score'].mean()

In [17]:
prep

test preparation course
completed    69.96648
none         63.78972
Name: math score, dtype: float64

Those who completed the test preparation course scores more on average in math

In [18]:
prep2=data.groupby('test preparation course')['reading score'].mean()

In [19]:
prep2

test preparation course
completed    74.175978
none         66.417445
Name: reading score, dtype: float64

Those who completed the test preparation course scores more on average in reading.

In [20]:
prep3=data.groupby('test preparation course')['writing score'].mean()

In [21]:
prep3

test preparation course
completed    74.684358
none         64.457944
Name: writing score, dtype: float64

Those who completed the test preparation course scores more on average in writing.
Those who completed the test preparation course scores more on average overall

# 4. What do you think about the scoring variation for math, reading and writing

# Based on Gender

In [22]:
vargm=data.groupby('gender')['math score'].std()

In [23]:
vargm

gender
female    16.029928
male      14.556411
Name: math score, dtype: float64

Variation is slightly more in females in math score

In [7]:
vargr=data.groupby('gender')['reading score'].std()

In [8]:
vargr

gender
female    14.411018
male      14.149594
Name: reading score, dtype: float64

Variation is almost same for both males and females.But Females has slightly more variation in reading score

In [9]:
vargw=data.groupby('gender')['writing score'].std()

In [10]:
vargw

gender
female    14.844842
male      14.227225
Name: writing score, dtype: float64

Variation is almost same for both males and females.But Females has slightly more variation in writing score. Overall females have more variation, But it is a very small variation

# Based on Test preparation course

In [11]:
vartm=data.groupby('test preparation course')['math score'].std()

In [12]:
vartm

test preparation course
completed    14.521847
none         15.705689
Name: math score, dtype: float64

The persons who didn't do the test prepation course has slightly more variation in math score.

In [13]:
vartr=data.groupby('test preparation course')['reading score'].std()

In [14]:
vartr

test preparation course
completed    13.537572
none         14.608896
Name: reading score, dtype: float64

The persons who didn't do the test prepation course has slightly more variation in reading score.

In [15]:
vartw=data.groupby('test preparation course')['writing score'].std()

In [16]:
vartw

test preparation course
completed    13.236412
none         15.041667
Name: writing score, dtype: float64

The persons who didn't do the test prepation course has slightly more variation in writing score. The persons who didn't do the test prepation course has slightly more variation overall.

# 5. The management needs your help to give bonus points to the top 25% of

# students based on their maths score, so how will you help the management to achieve this.

In [38]:
top=data['math score']

In [25]:
top

0        0
1        8
2       18
3       11
4       22
      ...
995     99
996    100
997    100
998    100
999    100
Name: math score, Length: 1000, dtype: int64

In [33]:
top25=top.sort_values().tail(250)

In [34]:
top25

852     77
853     77
854     77
855     77
856     77
      ...
516    100
998    100
515    100
517    100
999    100
Name: math score, Length: 250, dtype: int64

The students having these SI numbers in the dataset are the top 25% in math score. 77 is the least score and 100 is the high score in the top 25%.