In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

import scipy.stats as stat

In [2]:
data=pd.read_csv('Sales_add.csv')

In [3]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

# The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

Hypothesis:

H_0:Sales after stepping into digital marketing is same

H_a:Sales increased after stepping into digital market.

In [4]:
a=np.array(data['Sales_before_digital_add(in $)'])

In [5]:
b=np.array(data['Sales_After_digital_add(in $)'])

In [6]:
stat.ttest_rel(b,a,axis=0,alternative='greater')

Ttest_relResult(statistic=12.09070525287017, pvalue=3.168333502287889e-11)

So the p-value is less than 0.05.So we reject null hypothesis.Sales increased after using digital marketing.

# The company needs to check whether there is any dependency between the features “Region” and “Manager”.

Hypothesis:

H_0:There is no dependency between Region and Manager.

H_a:There is dependency between Region and Manager

In [7]:
c=pd.crosstab(data.Region,data.Manager,margins=True)

In [8]:
c

Manager     Manager - A  Manager - B  Manager - C  All
Region
Region - A            4            3            3   10
Region - B            4            1            2    7
Region - C            1            3            1    5
All                   9            7            6   22

In [10]:
from bioinfokit.analys import stat
res = stat()

In [11]:
res.chisq(df=c)

In [12]:
print(res.summary)

Chi-squared test for independence

Test              Df    Chi-square    P-value
--------------  ----  ------------  ---------
Pearson            9       3.05057   0.962256
Log-likelihood     9       3.05147   0.962219

The p-value is greater than 0.05. So we accept null hypothesis and there is no any dependencies between Region and Manager.